.pgMusica main .container {
    height: 100%;
}

main .container .musica {
    background-color: rgb(173, 173, 173);
    width: 100%;
    height: 100%;
}

main .container .musica {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .container .musica .playlist {
    width: 80%;
    height: 50%;
    background-color: rgb(233, 233, 233);
    margin-bottom: 30px;
    display: flex;
}

main .container .musica .btns-musica {
    display: flex;
}

main .container .musica .btns-musica img {
    width: 30px;
    height: 30px;
    margin: 6px;
}

main .container .musica .btns-musica input {
    width: 100px;
    transform: rotate(-90deg);
}

.btns-musica img[alt="voltar"] {
    transform: scaleX(-1);
}