.pgMusica main .container {
    height: 100%;
}

main .container .musica {
    background-color: rgb(173, 173, 173);
    width: 100%;
    height: 100%;
}

main .container .musica {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .container .musica .playlist {
    width: 80%;
    height: 50%;
    background-color: rgb(233, 233, 233);
    margin-bottom: 30px;
}

main .container .musica .btns-musica {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

main .container .musica .btns-musica img {
    width: 50px;
    height: 50px;
}

.btns-musica img[alt="voltar"] {
    transform: scaleX(-1);
}