
.pg1,.pg2,.pgMusica,.pgJogo {
    position: absolute; 
    width: 100%;
    height: 100%;
}


.pg1 {
    display: block;
}

.pg2 {
    display: none;
}

.pgMusica {
    display: none;
}

.pgJogo {
    display: none;
}