.pgJogo {
    background-color: green;
}


.pgJogo canvas {
    width: 100%;
    height: 100%; 
    background: url(../../img/sprits-game/bg-game.gif)no-repeat;
    background-size: 400px;
}

.pgJogo .game .score {
    width: 250px;
    height: 25px;
    text-transform: uppercase;
     font-weight: bolder;
     font-family:  monospace;
     font-size: 20px;
     padding: 5px;
}

.pgJogo .telaGameOver {
    background-color: red;
    position: absolute;
    width: 100%;
    height: 300px;
    text-align: center;
    line-height: 200px;
    font-size: 30px;
    display: none;
}

.pgJogo .game p {
    margin: 2px;
    font-size: 25px;
    color: black;
}