.pg1 { /* tela bloqueio */
    display: block;
}

.pg2 { /* tela inicial */
    display: none;]
    background: linear-gradient(40deg ,blue,red);
}

.pgMusica {
    display: none;
}

.pgJogo {
    display: none;
}