.pg1 main .container {
    width: 100%;
    height: 100%;
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.pg1 main .container .data {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.pg1 main .container .notifa {
    flex-grow: 2; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.pg1 main .container .notifa div {
    border: 4px solid black;
    padding: 5px;
}

